.planningPageBodyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background: #0f0f05;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png");
}
