.reminderContainer {
  position: relative;
  border-radius: 7px;
  box-shadow: 0 2px 5px #000000;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png") !important;
  color: white;
  display: inline;
}
